@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
.navbar {
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 75%);
    padding: 10px;
}

.nav-list {
    height: 0px;
    overflow: hidden;
    transition: 0.3s linear; 
}
.show-list {
    height: 346px;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    margin-right: 1px;
}

.logo span {
    color: violet;
    margin-right: 0px;
}

.Btn {    background: transparent;
    border: none;
}

.Btn i {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.nav-links {
    text-align: center;
    justify-content: center;
    padding: 10px;    
}

.nav-links ul {
    list-style: none;
    text-transform: uppercase;
}
.nav-links ul li:hover {
    background-color: violet;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.styless {
    padding: 10px;
}

.social-links {
    text-align: center;
    padding: 5px;
    align-items: center;
}

.social-links ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}
.social-links ul li:hover {
    background-color: violet;
    color: white;
    font-size: 22px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.stylesss {
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.search {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search input {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline-style: none;
    background: #eee;
    /* opacity: 15%; */
    position: relative;
    left: 20px;
    color: black;
}
.search input:hover {
    background-color: violet;
    color: white;
    border: none;
    outline-style: none;
}

.btn-2 {
    font-size: 23px;
    position: relative;
    background: black;
    right: 16px;
    bottom: -4px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    
}
.btn-2:hover {
    background-color: violet;
    cursor: pointer;
}

.btn-2 i {
    display: flex;
    align-items: center;
    color: white;
}

@media screen and (min-width: 1100px) {
 .navbar {
    height: 3.5rem;
     padding: 8px;
 }
    .nav-header {
    display: flex;
    align-items: center;
 }

 .Btn {
     display: none;
 }

 .nav-list {
     width: 100%;
     height: auto !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .nav-links ul {
     display: flex;
     text-transform: uppercase;
 }
 .social-links {
     display: flex;
 }

 .social-links ul{
    display: flex;
 }

 .nav-center {
    margin-right: 1.5rem;
    padding: 0%;
    height: auto;
 }

}

